<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="../../public/img/weather.png">
    <link rel="stylesheet" href="./css/stylesheet.css">
     
</head>
<body>
    <div class="main-content">
    {{>header}}
    <img class="portrait" src="./img/aaa.jpg" alt="Avatar">
    <div class="details">
        <p>Sahil Verma</p>
        <p>VermaSahilcf5@gmail.com</p>
        <p>+91 9992468544</p>
    </div>
    </div>
    


    {{>footer}}
</body>
</html>